body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
    height: 400px;
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  #numbers {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    height: 15px;
    width: 95%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  #newArray {
    background-color: #0000FF;
    color: #FFFFFF;
  }
  
  #findCombinations {
    color: #0000FF; 
    border: 1px solid #0000FF;
    background-color: #fff;
  }
  
  #combinations {
    text-align: left; 
  }
  
  .combinations-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .combinations-list {
    list-style-type: none;
    padding: 0;
  }
  